page-add-employee {
ion-input {
    font-size: 18px !important;
}
.invalid {
    border-bottom: 1px solid red;
}
.addBtn {
    margin-top: 40px !important;
}
.help-block {
    color: #ff0000;
    font-size: 16px;
    padding-left: 15px;
}
}
